 .line-horizontal {
    color: #296EB4;
    size: 5;
    width: 100%;
    margin-top:0;
    margin: bottom 0.7em;
  }

.review-stat {
  font-weight: 500;
  color: #296eb4;
  font-size: 18px;
  margin-bottom: 2px;
}

.title--walk__name{
  width: 30%;
  display: inline-block;
}

.title--ratings{
  width: 50%;
  display:inline-block;
}

.title--delete{
  width: 20%;
  display:inline-block;
}

/* Super Small screens */

@media only screen and (max-width: 300px) {

  .walks__table{
    font-size: 16px;
  }

}