.individual__weather__container {
    overflow: auto;
    white-space: nowrap;
  }
  
  .weather{
    display: inline-block;
    padding: 1rem;
    min-width: 100px;
  }

 .selected {
   background-color: #FFD07B;
 }


