.individual__weather__container {
    overflow-x: auto;
    white-space: nowrap;
    box-sizing: border-box;
}

.weather {
    display: inline-block;
    padding: 0.5rem;
    width: 150px;
    border-left: 1px solid #296EB4;
}

.selected {
    background-color: #FFD07B;
}

.temp{
    width:70px;
    padding:0 5px;
}

.weather__time{
    font-size: 18px;
    color:#296EB4;
    font-weight: bold;
}

.weather__icon {
    height: 75px;
    width:75px;
}

.weather--description{
    white-space: normal; 
  overflow-wrap: break-word;
 }

.individual__weather__button__container {
    padding: 0;
}



/* Media Queries to match Bootstrap viewport sizes */


/* Small - ≥576px */

@media only screen and (min-width: 576px) and (max-width: 768px) {}


/* Medium - ≥768px */

@media only screen and (min-width: 768px) and (max-width: 992px) {}


/* Large - ≥992px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}


/* Extra Large - ≥1200px */

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}


/* Extra extra Large - ≥1400px */

@media only screen and (min-width: 1400px) {}

