
.addrating__container--left {
    text-align: right;
    padding: 1rem;
  }

.addrating__container--right {
    text-align: left;
    padding: 1rem;
  }


.addrating__container{
    background-color: rgb(248, 246, 246);
    margin-left: 0.4em;
    margin-right: 0.4em;
    border: 1px solid #296EB4;
}

