/* n.b. see index.css for styling common to Register Page, AddWalk Page & Login Page */

#label--walk{
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: 1em;
}

#container--add{
    margin-top:0;
}



/* Media Queries corresponding to Bootstrap viewport sizes */

/* Small - ≥576px */

@media only screen and (min-width: 576px) and (max-width: 768px) {

    #label--walk{
        font-size:22px
    }

    textarea.form-control {
        font-size: 20px;
    }
}
/* Medium - ≥768px */

@media only screen and (min-width: 768px) and (max-width: 992px) {

    #label--walk{
        font-size: 24px;
    }

    textarea.form-control {
        font-size: 22px;
    }
  }

/* Large - ≥992px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    #label--walk{
        font-size: 24px;
        margin-top: 0.75em;
    }

    textarea.form-control {
        font-size: 22px;
    }
}

/* Extra Large - ≥1200px */

@media only screen and (min-width: 1200px) and (max-width: 1399px) {


    #label--walk{
        font-size: 24px;
        margin-top: 0.75em;
    }

    textarea.form-control {
        font-size: 22px;
    }
}

/* Extra extra Large - ≥1400px */

@media only screen and (min-width: 1400px) {
    #label--walk{
        font-size: 24px;
        margin-top: 0.75em;
    }

    textarea.form-control {
        font-size: 22px;
    }
}