.container--walk__name{
    width: 30%;
    overflow-wrap: break-word;
    margin-bottom: 1em; 
    display:inline-block;
}

.text--hyperlink {  
    color: #296EB4;
    font-size: 16px;
    margin-bottom: 1em;
}

.text--newtask {
    color: goldenrod;
    font-size: 16px;
    margin-bottom: 1em;
}

.container--ratings{
    width: 50%;
    display:inline-block;
}

.container--button__delete{
    width: 20%;
    display:inline-block;
}

  /* Media Queries to match Bootstrap viewport sizes - general styling*/
  
  /* Small - ≥576px */
  
  @media only screen and (min-width: 576px) and (max-width: 768px) {
  
   .text--hyperlink, .text--newtask{
       font-size: 18px;
   }
    
  }
  
  
  /* Medium - ≥768px */
  
  @media only screen and (min-width: 768px) and (max-width: 992px) {
  
    .text--hyperlink, .text--newtask{
        font-size: 20px;
    }
  
    
  }
  
  
  /* Large - ≥992px */
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
  
    .text--hyperlink, .text--newtask{
        font-size: 22px;
    }
  
  }
  
  
  /* Extra Large - ≥1200px */
  
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .text--hyperlink, .text--newtask{
        font-size: 24px;
    }
  }
  
  
  /* Extra extra Large - ≥1400px */
  
  @media only screen and (min-width: 1400px) {

    .text--hyperlink, .text--newtask{
        font-size: 24px;
    }
  }