.frame--sunshine {
    margin: 2% auto;
}
  
.img--sunshine{
    display: block;
    margin: 0 auto;
}

.button__container {
  text-align: center;
  padding: 1rem;
}

.btn-accessible{
  background-color: #296eb4;
  color: white;
  font-size: 24px;
}

/* Media Queries to match Bootstrap viewport sizes */

/* Small - ≥576px */

@media only screen and (min-width: 576px) and (max-width: 768px) {
}

/* Medium - ≥768px */

@media only screen and (min-width: 768px) and (max-width: 992px) {

    .button__container--left {
        text-align: right;
        padding: 1rem;
      }

    .button__container--right {
        text-align: left;
        padding: 1rem;
      }

}

/* Large - ≥992px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .button__container--left {
        text-align: right;
        padding: 1rem;
      }

    .button__container--right {
        text-align: left;
        padding: 1rem;
      }
}

/* Extra Large - ≥1200px */

@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .button__container--left {
        text-align: right;
        padding: 1rem;
      }

    .button__container--right {
        text-align: left;
        padding: 1rem;
      }
}

/* Extra extra Large - ≥1400px */

@media only screen and (min-width: 1400px) {

    .button__container--left {
        text-align: right;
        padding: 1rem;
      }

    .button__container--right {
        text-align: left;
        padding: 1rem;
      }
}

