/* General styling */

body {
    margin: 0;
    background-color: white;
    color: #296EB4;
}

.heading {
    color: #296EB4;
    text-align: center;
    padding-top: 5%;
}

.heading--main {
  color: #296EB4;
  text-align: center;
  padding-top: 19%;
  text-align: center;
}

/* styling common to Register, Login & AddWalk pages */

/* bootstrap class */
.form-label {
  font-size: 18px;
  margin-top: 7px;
  margin-bottom: 5px;
  text-align: left;
  color: #296eb4;
}

/* html element inside bootstrap */
form{
  padding-block: 5px;
  color: #296eb4;
  padding: 10px;
  margin: 5%;
  border: 1px solid #296eb4;
}

.form-group {
  margin-bottom: 0;
  text-align: left;
}

/* styling common to Register & AddWalk*/

.logged {
  color:red;
  font-size: 18px;;
}

/* Media Queries to match Bootstrap viewport sizes - general styling*/

/* Super Small - ≥300px */

@media only screen and (max-width: 300px) {

  .heading--main {
    padding-top: 21%;
  }
}

/* Small - ≥576px */

@media only screen and (min-width: 576px) and (max-width: 768px) {}


/* Medium - ≥768px */

@media only screen and (min-width: 768px) and (max-width: 992px) {}


/* Large - ≥992px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}


/* Extra Large - ≥1200px */

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}


/* Extra extra Large - ≥1400px */

@media only screen and (min-width: 1400px) {}