/* create-react-app styling */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*/


/* General styling */

body {
  background-color: white;
  color: #296EB4

}

.header {
    text-align: center;
    margin-top: 5%;
}

.heading {
    color: #296EB4
}

.heading3 {
    text-align: center;
    color: #296EB4
}

.frame {
  border: 5px solid #1789FC;
}
