/* register page */

.form-register {
    padding-block: 5px;
    color: #296eb4;
    padding: 10px;
    margin: 5%;
    border: 1px solid #296eb4;
  }
  
.form-group {
  margin-bottom: 0;
}
.Form.Control {
    border: 1px solid #fdbb33
}
.form.Label{
  font-size: 18px;
  text-align: left;
  text-align: left;
}
.form-error p {
  padding-left: 5px;
  margin-bottom: 0px;
  color: red;
}

.button__container--center {
  text-align: center;
  padding: 1rem;

}  