/* register page */

.form-register {
    padding-block: 5px;
    color: #296eb4;
    padding: 10px;
    margin: 5%;
    border: 1px solid #296eb4;
  }
  
.Form.Control {
    border: 1px solid #fdbb33
}
.form.Label{
  font-size: 18px;
  text-align: left;
  text-align: left;
}
.form-error {
  padding-left: 5px;
  margin: 0;;
  color: red;
  margin-bottom: 0%;
}
.button__container--center {
  text-align: center;
  padding: 1rem;

}  