/* weather_page */

body {
  margin: 0;
  background-color: white;
  color: #296EB4;
  text-align: center;
}

.frame--weather {
    margin: 2% auto;
  }
  
  .img--map{
    display: block;
    margin: 0 auto;
    height: 30vh;
    width:70vw;
  }
  
 .reminder__container {
   text-align: center;
 }
  


