/* weather_page */

.frame--weather {
    margin: 2% auto;
  }
  
  .img--map{
    display: block;
    margin: 0 auto;
    height: 30vh;
    width:70vw;
  }
  
  .weather__container {
    text-align: center;
    margin-top: 1rem; 
  
  }
  
  .individual__weather__container {
    overflow: auto;
    white-space: nowrap;
  }
  
  .individual__weather__container .weather{
    display: inline-block;
    padding: 1rem;
  }

 .selected {
   background-color: #FFD07B;
 }
  