.walks__container{
    max-width:90vw;
    max-height:70vh;
    margin:auto;
    overflow-y: scroll; 
}

/* Super Small screens */

@media only screen and (max-width: 300px) {


}
/* Short viewports - < 650px height*/

@media only screen and (max-height: 650px) {
    .walks__container{ 
        max-height:60vh;
    }
}

/* Media Queries to match Bootstrap viewport sizes */


/* Small - ≥576px */

@media only screen and (min-width: 576px) and (max-width: 768px) {}


/* Medium - ≥768px */

@media only screen and (min-width: 768px) and (max-width: 992px) {}


/* Large - ≥992px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .walks__container{ 
        max-height:60vh;
    }   
}


/* Extra Large - ≥1200px */

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .walks__container{ 
        max-height:60vh;
    }   
}


/* Extra extra Large - ≥1400px */

@media only screen and (min-width: 1400px) {
    .walks__container{ 
        max-height:65vh;
    }   
}

